.profile-header {
text-align: center;
padding: 30px 0;


img {
width: 120px;
height: 120px;
border-radius: 50%;
object-fit: cover;
margin-bottom: 12px;
}


h2 {
font-weight: 600;
margin-bottom: 4px;
}


p {
color: #777;
}
}