.img-box {
width: 100%;
height: 250px;
overflow: hidden;


img {
width: 100%;
height: 100%;
object-fit: cover;
}
}


.info-box {
padding: 20px;


h2 {
font-weight: 600;
}


h3 {
margin-top: 4px;
color: #28a745;
font-size: 20px;
}


.section {
margin-top: 20px;


h4 {
font-weight: 600;
margin-bottom: 6px;
}


ul {
padding-left: 20px;


li {
margin-bottom: 4px;
}
}
}
}