<ion-content class="register-container">

  <div class="header-box">
    <h2>Crea tu cuenta</h2>
    <p>Regístrate para continuar</p>
  </div>

  <div class="form-box">

    <ion-item lines="none" class="input-box">
      <ion-input type="text" placeholder="Nombre completo"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-box">
      <ion-input type="email" placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-box">
      <ion-input type="password" placeholder="Contraseña"></ion-input>
    </ion-item>

    <ion-item lines="none" class="input-box">
      <ion-input type="password" placeholder="Confirmar contraseña"></ion-input>
    </ion-item>

    <ion-button expand="block" class="btn-register">
      Registrarse
    </ion-button>

    <div class="divider">
      <span>o regístrate con</span>
    </div>

    <ion-button expand="block" class="btn-google">
      <ion-icon name="logo-google" slot="start"></ion-icon>
      Continuar con Google
    </ion-button>

    <p class="login-text">
      ¿Ya tienes una cuenta?
      <a routerLink="/login">Inicia sesión aquí</a>
    </p>

  </div>

</ion-content>
