.check-container {
text-align: center;
margin-top: 30%;


ion-icon {
font-size: 100px;
color: #28a745;
}


h2 {
margin-top: 20px;
font-size: 24px;
font-weight: 600;
}


p {
margin-top: 6px;
color: #666;
}
}


.btn-box {
margin-top: 40px;
}